/* navbar responsive style starts here  */
/* for mobile */

@media screen and (max-width: 576px) {
    nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        justify-content: center;
        margin-bottom: 40px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
}  

/* for tablets */

@media screen and (min-width: 576px) and (max-width: 992px ){
    nav {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    .nav-logo {
        justify-content: center;
        margin-bottom: 40px;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    *{
        margin: auto 10px;
        

    }
    
}   

/* for making responsive banner  */

/* for mobile */

@media screen and (max-width: 576px) {
    .banner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
    }

}  

/* for tablets */

@media screen and (min-width: 576px) and (max-width: 992px ) {
    .banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

}  

/* for making responsive gammer section  */

/* for mobile device */

@media screen and (max-width: 576px) {
    .gammer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
} 


    .more-button {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        align-items: center;
        justify-content: center;
    }

}   

/* for tablet */

@media screen and (min-width: 576px) and (max-width: 992px ) {
    .gammer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
} 


    .more-button {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

}    


/* for making responsive online games section  */

/* for mobile device */

@media screen and (max-width: 576px) {
    .online-games {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
} 


}   


/* for tablet */

@media screen and (min-width: 576px) and (max-width: 992px ) {
    .online-games {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 40px;
        align-items: center;
        justify-content: center;
} 

}    


/* for making responsive play game section  */

/* for mobile device */

@media screen and (max-width: 576px) {
    .play-game {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
} 

.play-game-1 {

    z-index: -1;
    position: relative;

}

.play-game-2 {
    z-index: 1;
    position: relative;
    top: -150px;
    left: 265px;
} 


}   


/* for tablet */

@media screen and (min-width: 576px) and (max-width: 992px ) {
    .play-game {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        gap: 40px;
        align-items: center;
        justify-content: center;
} 

}    

/* play game */



/* for mobile device */

@media screen and (max-width: 576px) {
    .action-game {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        
             
    }
    
}   

/* for tablet */

@media screen and (min-width: 576px) and (max-width: 992px ) {
    .action-game {
        display: grid;
        grid-template-columns: repeat(4, 3fr);
        
             
    }


}    















